body {
    max-width: 1400px;
    font-family: raleway;
    width: 100%;
}

.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    display:flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    margin-top: 40px;
}

.nav-1{
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    color: black;
}
.nav-2{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    color: black;
}

.navigation a:hover {
    color: #0065FC;
    border-top: solid;
}

.logo img{
    width: 61px;
    margin-top: 44px;
}

/* Formulaire de Recherche */

.conteneur2 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 5px;
    width: 100%;

}

h1{
    font-size: 22px;
   
}

p{
    font-size: 16px;
    font-style: normal;
    margin-top: 8px;
    margin: 0px;
}

.recherche {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.button1 {
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
    background-color: #F2F2F2;
    color: black;
    border-color: #F2F2F2;
    border-style: solid;
    height: 49px;
}
.button1 i{
    padding-left: 6px;
    padding-right: 6px;
}

input {
    font-size: 18px;
    color: black;
    border-color: #F2F2F2;
    border-style: solid;
    height: 44px;
    width: 220px;
    font-weight: bold;
    text-indent: 20px;
}

.button2 {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    border-color: #0065FC;
    border-style: solid;
    height: 49px;
}
.loupe {
    display: none;
}

/* Partie Filtres */

.conteneur3 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 12px;
    width: 100%;
}



h2 {
    font-size: 18px;
    font-weight: 700;
}
.filtre {
    display: flex;
    flex-direction: row;
}

.filtre button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    border-color: #F2F2F2;
    border-style: solid;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.filtre i{
    font-size: 18px;
    color: #0065FC;
    margin-right: 10px;
}

.filtre button:hover {
    background-color: #deebff;
}

.info {
    margin-top: 54px;
}

.info i {
    border: solid;
    border-radius: 50%;
    border-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    color: #0065FC;
    font-size: 14px;
}

/* Hébergements - Article 1 */

.conteneur4 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Section 1 */

.tableau1 {
    border: solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    width: 63%;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 20px;
}



.colonne1  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

.colonne1 a{
    border: solid;
    border-color: white;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 190px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 5px 5px 5px #d9d9d9;
}



.colonne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

.colonne2 a{
    border: solid;
    border-color: white;
    background-color: white;
    color: black;
    width: 30%;
    height: 190px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 5px 5px 5px #d9d9d9;
}


a img{
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.tableau1 h3 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
}

.tableau1 p{
    margin-left: 10px;
    margin-top: 5px;
}

.stars {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 5px;
}

.blue-star{
    font-size: 12px;
    padding-left: 0px;
    color: #0065FC;
}
.grey-star {
    font-size: 12px;
    padding-left: 3px;
    color: #d9d9d9;
}


.afficher {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

/* Section 2 */

.tableau2 {
    border: solid;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: 600px;
}

.titre i{
    margin-top: 20px;
    padding-left: 118px;
    font-size: 20px;
    color: #0065FC;
}

.titre {
    margin-bottom: 20px;
}

.tableau2 a {
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: white;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px; 
    margin-top: 20px;
    text-decoration: none;
    width: 85%;
    height: 144px;
    box-shadow: 5px 5px 5px #d9d9d9;
}

.tableau2 p{
    margin-left:15px;
    margin-top: 8px;
}

.tableau2 img {
    border-radius: 20px 0px 0px 20px;
    height: 144px;
    width: 40%;
    object-fit: cover;
}

.tableau2 h3{
    margin-left: 15px;
    margin-right: 22px;
    margin-top: 8px;
}

.stars2 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 40px;
}






/* Activités - Article 2 */



.article2 {
    margin-top: 60px;
}


.conteneur5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

.activites {
    width: 22%;
    height: 444px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d9d9d9;
    text-decoration: none;
}

.activites img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}
h4{
    margin-left: 12px;
    color: black;
}

main {
    padding-bottom: 61px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.titre1 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.titre2 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.titre3 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 45px;
    margin-bottom: 20px;
    margin-right: 240px;
}

li {
    font-size: 16px;
    list-style: none;
    margin-bottom: 12px;
}


/* Media Queries Tablettes */ 

@media screen and (max-width: 992px) {
    nav {
        margin-left: 55%;
        display: flex;
        flex-direction: row;
    }
    .navigation a{
        color: black;
    }
    .conteneur4 {
        flex-direction: column;
    }
    .tableau1 {
        width: 100%;
        height: 626px;
        
    }
    .tableau1 h1{
    margin-top: 10px;
    }

    .colonne1 a{
        width: 30%;
        height: 199px;
    }
    .colonne2 a{
        width:30%;
        height: 199px;
    }
    h3{
        margin-top: 4px;
    }
    .tableau2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 278px;
        margin-top: 50px;
        justify-content: flex-start;  
    }
    .tableau2-a {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 40px;
    }
    .tableau2 a{
        width: 30%;
        height: 144px;
    }
    .tableau2 h3{
        font-size: 16px;
        margin-bottom: 6px;
    }
    .tableau2 p{
        font-size: 14px;
    }

    .tableau2 .titre{
        margin-bottom: 0px;
    }
    .article2 h1{
        margin-top: 70px;
    }
    .conteneur5 {
        width: 100%;
    }
    .activites {
        width: 22%;
        height: 270px;
        text-align: start;
    }
    .activites img{
        height: 200px;
    }
    footer {
        width: 100%;
        height: 220px;
        justify-content: space-between;
    }
    .conteneur3 {
        width: 100%;
    }
    .filtre button {
        font-size: 15px;
    }
    .titre i{
        margin-left: 450px;
    }
}

/* Media Queries Smartphones */ 

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        max-width: 768px;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
    }
    .wrapper{
        width: 100%;
        max-width: 768px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .logo{
        text-align: center;
    }

    .logo img{
        width: 120px;
        margin-top: 40px;
    }
    nav{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
     .navigation {
        font-size: 40px;
        margin-top: 40px;
       }
       .nav-1 {
        color: black;
        padding-right: 12%;
        padding-left: 10%;
        border-bottom: solid #F2F2F2;
        border-width: 6px;
        padding-bottom: 15px;
       }
       .nav-2 {
        color: black;
        padding-left: 12%;
        padding-right: 12%;
        border-bottom: solid #F2F2F2;
        border-width: 6px;
        padding-bottom: 15px;
       }
       .navigation .nav-1:hover{
        border-color: #0065FC;
        color: #0065FC;
        border-top: none;
       }
       .navigation .nav-2:hover{
        border-color: #0065FC;
        color: #0065FC;
        border-top: none;
       }
       .conteneur2{
        width: 100%;
       }

    h1{
        font-size: 55px;
        font-weight: bold;
        margin-left: 5%;
    }
    .conteneur2 p{
        font-size: 35px;
        margin-left: 5%;
        margin-top: 5px;
    }
    .recherche{
        width: 100%;
        margin-top: 50px;
    }
    .button1 {
        height: 114px;
        width: 13%;
        border-radius: 25px 0px 0px 25px;
        font-size: 30px;
        margin-left: 20px;
    }
    input{
        height: 110px;
        font-size: 38px;
        text-indent: 20px;
        width: 60%;
        
    }
    .loupe {
        display: flex;
        height: 114px;
        width: 13%;
        margin-right: 10px;
        border-radius: 0px 25px 25px 0px;
        font-size: 30px;
        background-color: #0065FC;
        color: white;
        align-items: center;
        justify-content: center;
    }
    .button2{
        display: none;
    }
    .conteneur3{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }
    .conteneur3 h2{
        font-size: 40px;
        margin-left: 20px;
        width: 100%;
    }
    .filtre{
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0px;
    }
    .filtre button{
        font-size: 22px;
        font-weight: 700;
        padding: 30px;
        height: 100px;
        width: 44%;
        margin-top: 20px;
        border-width: 5px;
        border-color: #d9d9d9;
        border-radius: 55px;
    }
    .filtre i{
        font-size: 40px;
    }
    .info{
        font-size: 35px;
    }
    .info i{
        font-size: 30px;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-color: #d9d9d9;
        margin-right: 20px;
    }
    
   .conteneur4{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
   }
   .tableau2-a {
    height: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   }
   .tableau2{
    height: 1400px;
    border-radius: 0px 0px 0px 0px;
   }
   .titre{
    width: 100%;
    height: 5%;
   }
   .tableau2 h1{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    white-space: nowrap;
   }
   .titre i{
    font-size: 40px;
    margin-left: 14%;
   }
   
   
   .tableau2 a{
    width: 93%;
    height: 29%;
    padding-top: 8px;
   }
   .tableau2-a img{
    width: 40%;
    height: 100%;
   }
  .tableau2 h3{
    font-size: 40px;
  }
  .tableau2 p {
    font-size: 35px;
    margin-top: 15px;
  }
.stars2{
    margin-top: 35%;
    margin-left: 30px;
}
.stars2 i{
    font-size: 28px;
    padding-right: 10px;
}
   .tableau1{
    background-color: white;
    border-color: white;
    height: 2650px;
   }
   .tableau1 h1{
    margin-top: 30px;
    margin-left: 0px;
    font-size: 50px;
   }
   .colonne1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    height:1200px;
   }
   .colonne1 a{
    width: 89%;
    height: 30%;
    display: flex;
    flex-direction: column;
   }
   .colonne1 h3{
    font-size: 30px;
   }
   .colonne1 p{
    font-size: 27px;
   }
   .colonne2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 1200px;
   }
   .colonne2 a{
    width: 89%;
    height: 30%;
    display: flex;
    flex-direction: column;
   }
   .colonne2 h3{
    font-size: 30px;
   }
   .colonne2 p{
    font-size: 27px;
   }
   .stars{
    margin-top: 20px;
   }
   .stars i {
    font-size: 26px;
    padding-left: 5px;
   }
   .afficher{
    display: none;
   }
   .conteneur5{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    height: 2200px;
    width: 100%;
   }
   .article2 h1{
    margin-left: 20px;
    width: 50%;
   }
   .activites{
    display: flex;
    flex-direction: column;
    width: 89%;
    height: 500px;
    margin-bottom: 10px;
   }
   .activites img{
    height: 70%;
   }
   h4{
    font-size: 38px;
    margin-left: 30px;
   }
   footer {
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: flex-start;
    margin-left: 0px;
    width: 100%;
   }
   
   .titre1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 0px;
   }
   .titre2{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 0px;
   }
   .titre3{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 0px;
   }
   li{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 0px;
   }

}
